In [1]:
import pandas as pd

In [2]:
bridges_conditions = pd.read_csv('../data/Bridge_Conditions__NYS_Department_of_Transportation - Bridge_Conditions__NYS_Department_of_Transportation.csv')

bridges_conditions.head()

,Region,County,Municipality,BIN,Location,Feature Carried,Feature Crossed,Owner,Year Built or Replaced,Date of Last Inspection,Poor Status
0,1,Albany,Albany (City),1053380,0.1 MI N JCT RTE 5 & I90,5 X,PATROON CREEK,City,1968,08/07/2018,N
1,1,Albany,Albany (City),1092549,JCT US 9 & PATROON CREEK,9 9 11081025,CSX TRANS/ AMTRAK,NYSDOT,1971,12/06/2017,N
2,1,Albany,Albany (City),1092509,JCT RTE 9 & I90,9 9 11081028,RAMP TO 90I EB,NYSDOT,1971,07/29/2019,N
3,1,Albany,Albany (City),1093029,DOWNTOWN ALBANY,9 X,HUDSON RIVER,NYSDOT,1969,11/10/2019,N
4,1,Albany,Albany (City),1054460,0.1 MI S JCT RT 9W & I787,9W 9W11012007,787IX,NYSDOT,1966,04/30/2019,N

In [5]:
bridges_conditions.columns

Index(['Region', 'County', 'Municipality', 'BIN', 'Location',
       'Feature Carried', 'Feature Crossed', 'Owner', 'Year Built or Replaced',
       'Date of Last Inspection', 'Poor Status'],
      dtype='object')

In [6]:
bridges_conditions['poorstatus'] = bridges_conditions['Poor Status'].str.contains('Y')
bridges_conditions['poorstatus'].value_counts()

poorstatus
False    15834
True      1698
Name: count, dtype: int64